h1{
    color: white;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400; 
}

h2{
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

.project-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
}

.grid-view {
    display: grid;
    grid-template: auto auto auto/ 350px 350px 350px; // rowN / columnN
    grid-gap: 40px 20px;
}