h1{
    color: #F5D8C7;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400; 
}

.projecth2{
    color: white;
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 3px;
    animation: none;
}

.project-section {
    position: relative !important;
    padding-top: 80px !important;
    padding-bottom: 50px !important;
    background-image: var(--section-background-color) !important;
}

.grid-view {
    display: grid;
    grid-template: auto auto auto/ 350px 350px 350px; // rowN / columnN
    grid-gap: 40px 20px;
}