.resume-section{
    position: relative !important;
    padding-top: 80px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    
    margin-left: 200px;
    margin-right: 200px;
}

.resume {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

object{
    height: 1115px;
    width: 80%;
}
