.resume-section{
    position: relative !important;
    padding-top: 80px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    // color: white !important;
}

.resume {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

button{
    margin: 10px;
    padding: 10px;
    background: #B26C9B;
    border: 2px solid white;
    border-radius: 50px;
    color: white;

    button:hover{
        background: #752D70;
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

object{
    height: 1115px;
    width: 80%;
}
