.resume-section{
    position: relative !important;
    padding-top: 80px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
}

button{
    margin: 10px;
    padding: 10px;
    background: black;
    border: 2px solid darkorchid;
    border-radius: 50px;
    color: white;
}