.viewing-section {
    position: relative !important;
    padding-top: 80px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
}

h1{
    color: white;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400; 
}

h2{
    color: orchid;
    margin-top: 20px;
    margin-left: 80px;
    font-weight: 1000;
    font-size: 24px;
    letter-spacing: 3px;
    animation: none;
}

p{
    color: white;
    font-size: 15px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    font-weight: 400;
    letter-spacing: 0.4px;
}