.viewButton{
    position: relative;
    background-color: #000000; /* Green */
    border: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: x-large;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    /* font-size: 1.25rem; */
    /* top: 50%; */
    /* left: 25%; */
    width: 300px;
    margin: 10px auto;
    align-items: center;
    border-radius: 8px;
}