.viewing-section {
    position: relative !important;
    padding-top: 80px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
}

h1{
    color: #F5D8C7;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400; 
}

h2{
    color: #da70d6;
    margin-top: 20px;
    margin-left: 80px;
    font-family: 'Coolvetica';
    font-weight: 1000;
    font-size: 24px;
    letter-spacing: 4px;
    animation: none;
}

h3{
    color: #DBA5AF;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 80px;
    font-family: 'Coolvetica';
    font-weight: 400;
    letter-spacing: 3px;
}

.subtitle{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 80px;
    font-family: 'Coolvetica';
    font-weight: 400;
    letter-spacing: 3px;
}

p{
    color: white;
    font-size: 15px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.sub-text{
    color: white;
    font-size: 15px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    font-weight: 400;
    letter-spacing: 0.4px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img.scaled {
    width: 80%;
  }

button{
    margin: 10px;
    padding: 10px;
    background: black;
    border: 2px solid darkorchid;
    border-radius: 50px;

    a{
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bolded {
    font-weight: bold;
}

ol{
    list-style-type: circle;
    color: white;
    font-size: 15px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
}

a{
    color: orchid;
}

figure{
    border: 1px #cccccc solid;
    padding: 4px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
}

figcaption {
    color: white;
    font-style: italic;
    font-size: 12px;
    padding: 2px;
    text-align: center;
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
  }